.row {
  display: block;
  outline: 0;
  border: 0;
  transition: 200ms ease background;
  font-size: var(--font-size);
  flex-shrink: 0;

  &:focus {
    background: var(--theme-focused-foreground);
  }
}
